
    table.results {
	    width:90%;
	    border-top:1px solid #e5eff8;
	    border-right:1px solid #e5eff8;
	    border-collapse:collapse;
    }
    table.results th,
    table.results td {
	    color:#678197;
	    border-bottom:1px solid #e5eff8;
	    border-left:1px solid #e5eff8;
	    padding:.3em 1em;
	    text-align:center;
	}
    table.results th {
		font-weight: bold;    
    }
    
    
    table.results tr.odd td {
    background:#f7fbff
    }
    table.results tr.odd .column1 {
    background:#f4f9fe;
    }
    .column1 {
    background:#f9fcfe;
    }
    
    
    table.results th {
    background:#f4f9fe;
    text-align:center;
    font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#66a3d3;
    }
    